@{
    ViewData["Title"] = "Hakkımda";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <img src="/İmage/ben.jpg" alt="Resmim" />
    <p>Sivas Cumhuriyet Üniversitesi Bilgisayar Mühendisliği Bölümü 4.sınıf öğrencisiyim.</p>
    <p>Detaysoft şirketinde Junior dotnet developer olarak çalışıyorum.</p>
    <p>GitHub Adresim<a href="https://github.com/bugrakbas">Buradan ulaşabilrsiniz.</a></p>
    <p>Sorularınız için<a href="mailto:bugrahanakbs@gmail.com">buradan mail atabilirsiniz</a></p>
</div>